body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../assets/python.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
  
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  
    text-align: center;
    font-family: sans-serif;
  }

/* Card set title */
.title {
    font-size: 1.8rem;
    margin-bottom: 0.25rem;
}

.description {
    color: #555;
    margin-bottom: 0.25rem;;
}

.count {
    color: #888;
    margin-bottom: 1.5rem;

}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 2rem;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-bottom: 1.5rem;
    user-select:none


}

/* Small label above the text */

.card-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 0.5rem;
  }

/* The main question or answer text */

.card-text {
    font-size: 1.1rem;
    font-weight: 500;
  }

/* Small "Click to flip" @ bottom of the card */

.hint {
    font-size: 0.75rem;
    color: #bbb;
    margin-top: 1rem;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }


/* Button hover effect */

.button:hover {
    background-color: #e0dc0f;
  }

